<div id="user_nav">
  <% if current_user %>
    Signed in as <strong><%= current_user.email %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>