<div class="container">
  <%= image_tag("/assets/RadarLogo.png", class: "big-logo") %>
  <h1>
    <span class="title1">Strain<br /></span>
    <span class="title2">Tracker</span>
  </h1>
  <p class="subtitle">
    The place to find trending strains
  </p>
  <%= link_to image_tag("/assets/FacebookLogin.png", class: "facebook-image", alt: "Login with Facebook"), "/auth/facebook", id: "sign-in" %>
  <p class="bottom">No worries, we won't post<br>anything on your wall</p>
</div>
