// Splash Page
.splash-title1{
  text-transform: uppercase;
  font-size: emCalc(36);
}
.splash-title2{
  font-size: emCalc(32);
  text-transform: uppercase;
  font-weight: normal;
}
.facebook-image{
  width: emCalc(250);
  margin: emCalc(30) auto emCalc(10) auto;
}
.big-logo{
  margin: emCalc(45) auto emCalc(25) auto;
  width: emCalc(250);
}
.splash-subtitle{
  font-size: emCalc(18);
  text-shadow: 0px 1px 1px #000;
  font-weight: normal;
}
.splash-bottom{
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
  font-size: emCalc(20);
  text-shadow: 0px 1px 1px #000;
}
.splash-container{
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 0 5% 0 5%;
  text-align: center;
  max-width: 640px;
}

// All Pages But Splash Page
.clear{
  clear: both;
}
nav{
  padding: 3px 0 3px 0;
  background: image-url("NavBarGradient.png");
  background-repeat: repeat-x;
  height: emCalc(57);
  width: 100%;
  margin: 0 0 emCalc(5) 0;
}
#head-logo{
  float: left;
  margin: 10px 0 0 15px;
  width: 30px;
}
#head-search{
  float: right;
  margin: 10px 15px 0 0;
  width: 30px;
}
#loggedin-div{
  font-size: emCalc(10);
  float: right;
  margin-right: 10px;
  color: #669933;
}
#loggedin-lock{
  color: #669933;
  width: 10px;
  margin: 0 5px 0 0;
}
#logout-link,#logout-link:visited{
  color: #669933;
}
#logout-link:hover{
  color: #FFF;
}
#head-title{
  color: #669933;
  font-size: emCalc(24);
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0 0 0;
  font-weight: bolder;
}
#head-title:before,#head-title:after{
  content: attr(title);
  color: rgba(255,255,255,.1);
  position: absolute;
}
#head-title:before{
  top: 1px;
  left: 1px;
}
#head-title:after{
  top: 2px;
  left: 2px;
}
// Trending
.trend{
  border-bottom: 1px #666 solid;
  padding: emCalc(20) 0;
}
.trend:last-child{
 border-bottom: 0;
}
a.trends-title,a.trends-title:visited,a.trends-title:hover{
  margin: 0 0 0 0;
  text-transform: uppercase;
  font-size: emCalc(22);
  font-weight: bold;
  color: #FFF;
}
.trends-content{
  float: left;
  padding: 20px 0 0 0;
}
.medals{
  max-width: 150px;
  margin: 0 20px 0 0;
  float: left;
}
.trend a {
  color: #FFF
}
.trend-name {
  font-size: emCalc(20px);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: emCalc(20);
}
.trend-cat {
  margin-bottom: emCalc(20);
}
.trend-rate {
  text-align: center;
  font-size: emCalc(20);
  font-weight: bold;
  text-transform: uppercase;
  background-color: #669933;
  width: emCalc(50);
  border-radius: $global-radius;
  padding: emCalc(10) 0;
  // margin-bottom: emCalc(20);
}
.arrow-down {
  margin-bottom: emCalc(10);
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #669933;
  position: relative;
  left: 10px;
}
.trend-sativa,.trend-indica,.trend-hybrid{
  padding: 7px 20px;
  border-radius: 10px;
  // margin: 20px 5px 15px 0;
  font-size: emCalc(20px);
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.trend-sativa {
  background-color: #993333;
}
.trend-indica {
  background-color: #666699;
}
.trend-hybrid {
  background-color: #993399;
}
.category-icon{
  margin-right: 10px;
  width: 25px;
}
.trend-progress{
  background-color: #FFF;
  height: 10px;
  width: 95%;
}
.trend-meter{
  background-color: #669933;
  height: 10px;
}

// show CSS
.show-title{
  font-size: emCalc(26);
}
.show-category-div{
  width: 50%;
}
.show-category-icon{
  max-width: emCalc(140);
  float: left;
  margin: 0 emCalc(20) 0 emCalc(20);
}
.show-content{
  font-size: emCalc(14);
  float: left;
  width: 50%;
}
.show-progress{
  background-color: #FFF;
  height: 20px;
  width: 95%;
}
.show-meter{
  background-color: #669933;
  height: 20px;
}
.tooltip{
  margin-left: 40px;
}
.show-submit{
  border-radius: 10px;
  background-color: #669933;
  box-shadow: 10px;
  text-transform: uppercase;
  width: 95%;
  margin: 20px 0 0 0;
  padding: 20px 10px 20px 10px;
  cursor: pointer;
  font-size: emCalc(30);
  border: #669933;

  &:hover{
    background-color: darken(#669933,10%);
  }
}
.show-rating{
  padding: 5px 0 0 0;
}

.show-sativa,.show-indica,.show-hybrid{
  padding: 7px 20px 7px 20px;
  border-radius: 10px;
  margin: 5px 5px 5px 0;
  font-size: emCalc(16px);
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
}
.show-sativa {
  background-color: #993333;
}
.show-indica {
  background-color: #666699;
}
.show-hybrid {
  background-color: #993399;
}
