#strain-profile {
  position: relative;
  left: -110%;
}

#search-container {
  background-color: black;
  margin-right: 0px;
  margin-left: 0px;
  padding: 20px 0;
}

.alert-box {
  text-align: center;
  a.close {
    position: relative;
    top: 0;
    right: 0;
  }
}

input#search {
  border-radius: 20px;
  margin-bottom: 20px;
}

input[type=search] {
  padding: 0;
}

.result {
  background-color: #333;
  padding: 30px 15px;
  border-bottom: #666 1px solid;
  font-family: 'Open Sans', sans-serif;
  &:last-child {
    border-bottom: 0;
  }
  .rating {
    float: right;
    color: #66CC66;
    font-weight: bold;
    font-size: 1.2em;
  }
  .name {
    color: white;
    font-weight: bold;
    // font-kerning: 10;
    // font-size: 1.2em;
  }
}

.category {
  padding: 10px 25px;
  border-radius: 5px;
  margin-right: 15px;
  color: white;
}

div.result span {
  &.sativa {
    @extend .category;
    background-color: #993333;
  }

  &.indica {
    @extend .category;
    background-color: #666699;
  }

  &.hybrid {
    @extend .category;
    background-color: #993399;
  }
}
