<div class="row">
  <div class="row">
    <div class="small-11 small-centered columns">
      <input id="search" type="search" placeholder="What are you smokin?" results="1" autofocus>
    </div>
  </div>
  <div id="results"></div>
</div>
