<div class="row">
  <div class="large-6 large-centered columns">
    <div class="row">
      <div class="small-6 columns">
        <span><h5>What are you smokin'?</h5></span>
      </div>
      <div class="small-6 columns">
        <input id="search" type="text" placeholder="Trainwreck" autofocus>
      </div>
    </div>
    <div id="results"></div>
  </div>
</div>
