<div class="contain-to-grid">
  <nav class="top-bar">
    <ul class="title-area small-1 columns">
      <li class="name">
        <h1><%= link_to image_tag("/assets/ST-Logo.png", alt: "ST"), root_path %></h1>
      </li>
    </ul>
    <span class="small-9 columns center">
      <h1 class="nav-title">
        <%= @title %>
      </h1>
    </span>
    <section class="top-bar-section small-1 columns">
      <ul>
        <li><%= link_to image_tag("/assets/Search-Icon.png", alt: "Search"), strains_path %></li>
      </ul>
    </section>
  </nav>
</div>
